
/* Basic layout */

:root {
	--settings-height: 25vh;
}

* {
	margin: 0;
	padding: 0;
}

html {
	font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", sans-serif;
}

body {
	background: #444;
	text-align: center;
}

button {
	color: #888;
	background: none;
	border: .3vh solid #888;
	border-radius: 1vh;
	outline: none;
	cursor: pointer;
}




/* Content */

.content {
	opacity: 0.3;
	transition: opacity .5s, fill .5s;
}

body.connected .content {
	opacity: 1;
}




/* Glasses */

.content .lightbulb {
	position: absolute;
	top: 10vh;
	left: 10vw;
	width: 80vw;
	height: calc(100vh - var(--settings-height) - 20vh);
}

.content svg {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
}



/* Settings */

.settings {
	position: absolute;
	top: calc(100vh - var(--settings-height));
	width: 100%;
	min-height: var(--settings-height);
	background: #333;

	transition: opacity .3s ease-in-out;
	opacity: 0.3;
	pointer-events: none;
}
body.connected .settings {
	opacity: 1;
	pointer-events: auto;
}



/* Pills */

.pills {
	margin-top: -2.4vh;
	margin-bottom: 0;
	display: flex;
}
.pills button {
	margin: 0;
	padding: 1vh 2vh;
	border-radius: 0;
	border-left: none;
	font-size: 2vh;
	background: #333;
}
.pills button:first-of-type {
	border-left: .3vh solid #888;
	border-top-left-radius: 1vh;
	border-bottom-left-radius: 1vh;
	margin-left: auto;
}
.pills button:last-of-type {
	border-top-right-radius: 1vh;
	border-bottom-right-radius: 1vh;
	margin-right: auto;
}

body.color button#color,
body.customize button#customize {
	background: #888;
	color: #fff;
}





/* Views */

.views {
	padding: 6vh 0;
	min-height: 6vh;
	display: block;
}
.views > div {
	display: none;
}

body.color div#colorView,
body.customize div#customizeView {
	display: block;
}



/* Colors */

.swatches {
	display: inline-block;
	white-space: nowrap;
}

#colorView button.color {
	width: 6vh;
	height: 6vh;
	margin: -1vh 1vh 4vh;
}
#colorView button.red {
	background: #ff0000;
}
#colorView button.green {
	background: #00ff00;
}
#colorView button.blue {
	background: #0000ff;
}
#colorView button.yellow {
	background: #ffff00;
}
#colorView button.cyan {
	background: #00ffff;
}
#colorView button.magenta {
	background: #ff00ff;
}
#colorView button.white {
	background: #ffffff;
}
#colorView button.black {
	background: #000000;
}


/* Style editor */

style[contenteditable] {
	white-space: pre;
	font-family: monospace;
	color: #fff;
	
	font-size: 2vh;
	text-align: left;
	margin: 0 10vh 10vh;
	outline: none;
}

.connected style[contenteditable] {
	display: block;
}





